
body {
	margin: 0;
	padding: 0;
	background:white;
}
#container{
	/* border: 1px blue solid; */
	position: relative;
	margin-top: 5px;
	width: 100%;
	height: 100%;
  text-align:center;
}

#link {
	/* border: 1px red solid; */
	position: absolute;
	width: 100%;
	height: 100%;
}

#backgroud {
	/* border: 1px green solid; */
	position: absolute;
	width: 100%;
	height: 100%;
}

#map {
	margin: 0;
	display: inline;
	/* border: 1px solid black; */
}

#return {
	/* border: 1px solid black; */
}
