html {
    max-width: 100% !important;
    overflow-x: hidden !important;
		/* Line-Height: 2; */
}

body {
	position: relative;
	font-size: 1em;
	font-family: 'Noto Sans', sans-serif;
}

select, button {
	height:22px;
	width: 100px;
	margin-left: 10px;
}

h1 {
	font-size: 1.6em;
	margin-top: 5%;
	margin-left: 15%;
}

input {
	height:25px;
	width: 40px;
}

label {
	margin-right: 5px;
}


#scene {
	float:left;
	border: 1px solid black;
	padding-top: 5px;
	padding-left: 5px;
	height: 400px;
	width: 400px;
	margin-top: 2%;
	margin-left: 15%;
	padding-bottom: 0;
	border-radius: 2%;
}


.score {
	margin-top: 1%;
	margin-bottom: 0%;
	display: inline-block;
	margin-left: 15%;
	font-size: 1.5em;
}

.gridGame {
	position: relative;
	display: inline-block;
	height: 95px;
	width: 95px;
	border: 1px solid rgba(217, 217, 217, .8);
	border-radius: 5%;
	box-sizing: border-box;
	margin-right: 5px;
}

.element {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	line-height: 90px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 95px;
	width: 95px;
	border-radius: 5%;
	box-sizing: border-box;
}

div[color="2"] {
	background: #91B9F0;
	font-size: 1.2em;
}

div[color="4"] {
	background: #F4CC2F;
	font-size: 1.2em;
}

div[color="8"] {
	background: #F08A24;
	font-size: 1.2em;
}

div[color="16"] {
	background: #F36337;
	font-size: 1.2em;
}

div[color="32"] {
	background: #D9301B;
	font-size: 1.2em;
}

div[color="64"] {
	background: #7CBFB3;
	font-size: 1.2em;
}

div[color="128"] {
	background: #0F7367;
	font-size: 1.2em;
}

div[color="256"] {
	background: #CACBD5;
	font-size: 1.2em;
}

div[color="512"] {
	background: #666F88;
	font-size: 1.2em;
}

div[color="1024"] {
	background: #7F4D41;
	font-size: 1.2em;
}

div[color="2048"] {
	background: #FCFD37;
	font-size: 1.2em;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.ticTacToe {
	margin-right: 30%;
	margin-top: 5%;
	margin-left: 5%;
}

td {
		width:  80px;
		height: 80px;
		text-align: center;
}

.msg {
	text-align: right;
	margin-right: 30%;
	margin-top: 5%
}

.clear {
  clear: both;
}

#intro2048 {
	Line-Height: 2;
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;

}

#asid2048{
	Line-Height: 2;
	float: right;
	width: 40%;
	height: 100%;
	margin-top: 2%;
	margin-right: 10%;
}

#asideTicTacToe {
	Line-Height: 2;
	float: left;
	width: 30%;
	margin-top: 2%;
	margin-left: 15%;
	margin-right: 5%;
}

#puissance4 {
	float: left;
	margin-top: 1%;
	margin-left: 15%;
	width: 40%;
	height: 40%;
}

#introPuissance4 {
	Line-Height: 2;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 10%;
}

#introPepper {
	Line-Height: 2;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 10%;
}

#puissance4Description {
	float: right;
	width: 30%;
	height: 100%;
	margin-right: 10%;
}

#puissance4Description img{
	margin-top: 5%;
	margin-left: 5%;
	width: 50%;
	height: 50%;
}
#puissance4Description p {
	Line-Height: 2;
	margin-left: 5%;
	margin-right: : 5%;
}

#asideSapin {
	Line-Height: 2;
	display: inline-block;
	margin-top: 1%;
	margin-left: 15%;
}
#sapin {
	float: left;
	margin-top: 1%;
	margin-left: 15%;
	width: 40%;
	height: 40%;
}

#sapinDescription {
	float: right;
	width: 30%;
	height: 100%;
	margin-right: 10%;
}

#sapinDescription p {
	line-Height: 2;
}

#sapinDescription img{
		display: block;
		margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
		height: 29%;
}

#data {
	Line-Height: 2;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 10%;
}

#dataDescription {
	margin-right: 10%;
}

#realtime{
		float: left;
		margin-top: 5%;
    width: 55%;
		height: 55%;
}

#dataDescription p {
	float: right;
	line-Height: 2;
	margin-top: 4%;
	margin-bottom: 1px;
	width: 32%;
}

.archi {
	width: 50%;
	margin-left: 15%;
}

.logoElk {
	height: 30px !important;
}

#archiDescription {
	margin-top: 5%;
	margin-left: 15%;
}

#perfDescription {
	margin-top: 5%;
	margin-left: 15%;
}

.github {
float: right;
margin-top: 1%;
margin-right: 15%;
border: 1px solid #CA4B4C;
background-color: white;
color: #CA4B4C;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

.github:hover {
	color: #CA4B4C;
	background-color: #CA4B4C;
	color: white;

}
footer {
		margin-top: 5%;
		text-align: left;
    height: 100px;
		color: white;
    background: #212830;
}
.foot {
	font-size: 0.8em;
	margin-left: 2%;
	padding-top: 4%;
}
.year {
	display: inline-block;
	color: grey;
}
.space {
	margin-left: 0.5%;
}

/*--------------------------------------------------
    [Back To Top Theme Button]
----------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 50px;
  height: 45px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #515769;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
	padding: 12px 6px 6px 6px;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	text-decoration: none;
}

.back-to-top:hover {
  color: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:focus, .back-to-top:hover {
  text-decoration: none;
}

/* The Button Becomes Visible */
.back-to-top.back-to-top-is-visible {
  visibility: visible;
  opacity: .6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top.back-to-top-is-visible:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* If the user keeps scrolling down, the button is out of focus and becomes less visible */
.back-to-top.back-to-top-fade-out {
  opacity: .4;
}

.back-to-top.back-to-top-fade-out:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.pepper-link {
	color: black;
	text-decoration: none;
}
.pepper-img {
	/* max-height: 600px; */
	display: block;
	margin: auto;
	/* float: right; */
	/* margin-top: 5%; */
	width: 75%;
	height: 75%;
}


